<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Sobe e Desce Calculator</name>

    <description>
       	Apontador e Calculadora	 dos Pontos no sobe e desce
    </description>

    <author email="m.ricardo.sa@gmail.com">
        Ricardo Sá
    </author>
	
	<preference name="orienation" value="portrait" />
	<preference name="fullscreen" value="true" />
	
	<icon src="imgs/1389225079_new-24.png" />

</widget>